body, html{
  height:100%;
}
body{
  margin: 0px;
  font-size: 18px;
  font-family: 'Bangers', cursive;
}

body{
  background: linear-gradient(293deg, #00f41e, #0075c4, #5c2751, #f42c04);
  background-size: 1000% 1000%;

  -webkit-animation: AnimationName 41s ease infinite;
  -moz-animation: AnimationName 41s ease infinite;
  animation: AnimationName 41s ease infinite;
}

  @-webkit-keyframes AnimationName {
    0%{background-position:27% 0%}
    50%{background-position:74% 100%}
    100%{background-position:27% 0%}
  }
  @-moz-keyframes AnimationName {
    0%{background-position:27% 0%}
    50%{background-position:74% 100%}
    100%{background-position:27% 0%}
  }
  @keyframes AnimationName {
    0%{background-position:27% 0%}
    50%{background-position:74% 100%}
    100%{background-position:27% 0%}
  }
.danceFloor {
  height: 750px;
  width: 1200px;
}


body, a:link, a:visited, a:active{
  color: #00f41e;
  text-decoration: none;
}
.title, .actionButton{
  padding:10px 12px;
  float:right;
}
.topbar{
  height:32px;
  padding:10px 10px;
  background-color: rgba(92, 39, 31, .25);
}
.title{
  background-color: rgba(244, 44, 4, .5);
  font-size: 150%;
}
.dancer{
  border:50px solid rgba(255, 255, 255, .5);
  border-radius:50px;
  position:absolute;
}

/*
  *Styling for the michael cera dancer to spin
*/
.ceraDancer {
  position: absolute;
}
.spin {
  -webkit-animation-name: spin;
      -webkit-animation-duration: 2000ms;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      -moz-animation-name: spin;
      -moz-animation-duration: 40000ms;
      -moz-animation-iteration-count: infinite;
      -moz-animation-timing-function: linear;
      -ms-animation-name: spin;
      -ms-animation-duration: 40000ms;
      -ms-animation-iteration-count: infinite;
      -ms-animation-timing-function: linear;
}

@-webkit-keyframes spin {
      from { -webkit-transform:rotate(0deg); }

      to { -webkit-transform:rotate(360deg); }
}

/*
  *Styling for the shake dancer class to move in a shake
*/
.shakeDancer {
    width: 100px;
    height: 100px;
    background-color: rgba(27, 231, 255, .5);
    border-radius: 10px;
    position: absolute;
    animation: shake .5s ease-in-out infinite;
}

@keyframes shake {
  0% {transform: translateX(0); }
  20% { transform: translateX(-10px); }
  40% { transform: translateX(10px); }
  60% { transform: translateX(-10px); }
  80% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}
